{% extends "base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container txt-drk">
    <div class="row">
        <div class="col-12 mt-4 mb-2 txt-drk">
            <h1 class="mb-0">{% trans "Account Inactive" %}</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-md-8 col-xl-6">
            <p class="mb-4">{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>
{% endblock %}
