{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block extra_title %}Unique Contemporary Handmade Jewellery{% endblock %}

{% block content %}
<!-- Page Header -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6 home-hero">
            <img class="home-hero-img" src="{{ MEDIA_URL }}gold-acrylic-cuff.jpg" alt="Jewellery art gold acrylic cuff">
            <div class="d-sm-none home-heading-box txt-drk">
                <div class="home-heading-txt">
                    <h1 class="home-h1">Jewellery Art</h1>
                    <h2 class="home-h2">Original Handmade Jewellery<br>by Artistic UK Based Designers</h2>
                </div>
                <div>
                    <h3>
                        <a href="{% url 'products' %}" aria-label="Go to the all jewellery products page"
                            class="btn btn-sm btn-grey btn-sqr txt-lgter">Shop Now</a>
                    </h3>
                </div>
            </div>

        </div>
        <div class="d-none d-sm-flex col-sm-6 home-heading">
            <div class="home-heading-box txt-drk">
                <div class="home-heading-txt">
                    <h1 class="home-h1">Jewellery Art</h1>
                    <h2 class="home-h2">Original Handmade Jewellery<br>by Artistic UK Based Designers</h2>
                </div>
                <div>
                    <h3>
                        <a href="{% url 'products' %}" aria-label="Go to the all jewellery products page"
                            class="btn btn-grey btn-sqr txt-lgter">Shop Now</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Information Sections -->
<!-- Store Ethos Information -->
<section class="container-fluid home-info">
    <div class="row">
        <div class="col-md-10 col-xl-8 mx-auto py-4 txt-drk">
            <h3 class="text-center">The Art Of Jewellery</h3>
            <p class="text-justify m-0">
                As members of the <a class="content-link txt-link" href="https://www.acj.org.uk/" target="_blank"
                    rel="noopener"
                    aria-label="Visit the Accociation for Contemporary Jewellery website (opens in a new tab)">Association
                    for Contemporary Jewellery</a> We believe that jewellery does not have to be traditional, it can be
                an artwork in its own right. We have scoured the UK to provide a curated collection of
                <strong>contemporary handmade jewellery</strong> all available to purchase at the click of a button.
                Whether you are interested in big statement pieces, <strong>acrylic jewellery</strong> or
                <strong>unusual silver jewellery</strong> we have something for everyone.
                <a class="content-link txt-link" aria-label="Go to the all jewellery products page"
                    href="{% url 'products' %}">Browse our jewellery</a> now to buy a beautifully crafted piece for
                yourself or a <strong>gift of jewellery for an artist</strong> in your life.
            </p>
        </div>
    </div>
</section>

<!-- Designer Focus Information -->
<section class="container-fluid home-info">
    <div class="row image-divider"></div>
    <div class="row">
        <div class="col-md-10 col-xl-8 py-4 mx-auto txt-drk">
            <h3 class="text-center">Modern Jewellery Designers</h3>
            <p class="text-justify m-0">
                Our focus is on great <strong>innovative jewellery design</strong>. We collaborate with exciting
                up-and-coming designers like acrylic jewellery designer Rachel Clark already featured in <a
                    class="content-link txt-link" href="https://www.jewelleryfocus.co.uk/" target="_blank"
                    rel="noopener" aria-label="Visit the Jewellery Focus website (opens in a new tab)">Jewellery
                    Focus</a> and established designers such as Meredith Chambers who has designed jewellery collections
                for the Tate. Browse the
                list of our featured <strong><a class="content-link txt-link" href="{% url 'designers' %}"
                        aria-label="Go to the all jewellery designers page">independent UK jewellery
                        designers</a></strong> to find out more about them and the work they have created.
            </p>
        </div>
    </div>
</section>

<!-- Featured Products Section -->
<section class="container-fluid bg-color-grey">
    <div class="row">
        <div class="col py-4 txt-lgter">
            <h3 class="text-center">Our Top Picks</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for product in featured_products %}
            <!-- Displayed medium screens and up. Four products to a row. -->
            <div class="d-none d-md-flex col-md-3 col-xl-auto">
                <div class="card product-card h-100 pb-4 mx-auto txt-lgt">
                    <a class="content-link" aria-label="Go to the product information page for {{ product.name }}"
                        href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                            <img class="card-img-top img-lgt product-img img-fluid" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        {% else %}
                            <img class="card-img-top img-lgt product-img img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    <div class="card-body pb-0">
                        <a class="content-link-lgter" aria-label="Go to the product information page for {{ product.name }}"
                            href="{% url 'product_detail' product.id %}">
                            <p class="mb-0 card-title text-center">{{ product.name }}</p>
                        </a>
                    </div>
                    <div class="card-footer pt-1 text-center">
                        <a class="content-link-lgter" aria-label="Go to the product information page for {{ product.name }}"
                            href="{% url 'product_detail' product.id %}">
                            <p class="mb-0">£{{ product.price }}</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="d-md-none scrolling-wrapper">
            <!-- Displayed on small and below screens. Products horizontally scrolled. -->
            {% for product in featured_products %}
                <div
                    class="scroll-card {% if forloop.first %}scroll-card-1st{% endif %} {% if forloop.last %}scroll-card-lst{% endif %} mt-2">
                    <a class="content-link" aria-label="Go to the product information page for {{ product.name }}"
                        href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                            <img class="product-img img-lgt" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="product-img img-lgt" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    <a class="content-link-lgter" aria-label="Go to the product information page for {{ product.name }}"
                        href="{% url 'product_detail' product.id %}">
                        <p class="mb-0 scroll-prod-title text-center">{{ product.name }}</p>
                    </a>
                    <a class="content-link-lgter" aria-label="Go to the product information page for {{ product.name }}"
                        href="{% url 'product_detail' product.id %}">
                        <p class="mb-0 scroll-prod-price text-center">£{{ product.price }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Newsletter signup -->
<section class="container-fluid txt-lgt">
    <div class="row newsletter-signup">
        <div class="col-12 px-0 col-md-8 col-lg-6 col-xl-4 mx-auto my-auto">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form
                    action="https://github.us20.list-manage.com/subscribe/post?u=8d770115ddfecf4f74c5c10b0&amp;id=257254ed7a"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h4 class="text-center">Previews, Insights and Offers</h4>
                        <p class="text-center">Sign up to our newsletter for the latest designs, news and special
                            offers.</p>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response txt-lgt" id="mce-error-response" style="display:none"></div>
                            <div class="response txt-lgt" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_8d770115ddfecf4f74c5c10b0_257254ed7a" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button">
                                <p class="brandingLogo"><a target="_blank" rel="noopener nofollow" href="http://eepurl.com/hOGezb"
                                        title="Mailchimp - email marketing made easy and fun" aria-label="Visit the Mailchimp website (opens in a new tab)"><img
                                            src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="Mailchimp logo"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}