{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6 home-hero">
            <div class="d-sm-none home-heading-box txt-drk">
                <div class="home-heading-txt">
                    <h1>Jewellery Art</h1>
                    <h2 class="home-h2">Original Handmade Jewellery<br>by Artistic UK Based Designers</h2>
                </div>
                <div>
                    <h3>
                        <a href="{% url 'products' %}" class="btn btn-sm btn-grey btn-sqr txt-lgter">Shop Now</a>
                    </h3>
                </div>
            </div>

        </div>
        <div class="d-none d-sm-flex col-sm-6 home-heading">
            <div class="home-heading-box txt-drk">
                <div class="home-heading-txt">
                    <h1>Jewellery Art</h1>
                    <h2 class="home-h2">Original Handmade Jewellery<br>by Artistic UK Based Designers</h2>
                </div>
                <div>
                    <h3>
                        <a href="{% url 'products' %}" class="btn btn-grey btn-sqr txt-lgter">Shop Now</a>
                    </h3>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Information Sections -->
<!-- Store Ethos Section -->
<section class="container-fluid bg-color-lgt home-info">
    <div class="row">
        <div class="col-md-10 col-xl-8 mx-auto py-4 txt-drk">
            <h3 class="text-center">The Art Of Jewellery</h3>
            <p class="text-justify m-0">
                We believe that jewellery does not have to be traditional, it can be an artwork in its own right.
                We have scoured the UK to provide a curated collection of <strong>contemporary handmade jewellery</strong> 
                all available to purchase at the click of a button. Whether you are interested in big statement pieces,
                <strong>acrylic jewellery</strong> or <strong>unusual silver jewellery</strong> we have something for
                everyone. <a class="txt-link txt-link-home" href="{% url 'products' %}">Browse our jewellery</a> now to buy a beautifully crafted piece for yourself or
                a <strong>gift of jewellery for an artist</strong> in your life.
            </p>
        </div>
    </div>
</section>

<!-- Designer Focus Section -->
<section class="container-fluid bg-color-lgt home-info">
    <div class="row image-divider"></div>
    <div class="row">
        <div class="col-md-10 col-xl-8 py-4 mx-auto txt-drk">
            <h3 class="text-center">Modern Jewellery Designers</h3>
            <p class="text-justify m-0">
                Our focus is on great <strong>innovative jewellery design</strong> We collaborate with exciting 
                up-and-coming designers like acrylic jewellery designer Rachel Clark already featured in 
                <a class="txt-link txt-link-home" href="https://www.jewelleryfocus.co.uk/" target="_blank" rel="noopener" 
                aria-label="Visit the Jewellery Focus website (opens in a new tab)">Jewellery Focus</a> and established 
                designers such as Meredith Chambers who has designed jewellery collections for the  
                <a class="txt-link txt-link-home" href="https://shop.tate.org.uk/jewellery" target="_blank" rel="noopener" 
                aria-label="Visit the Tate Jewellery Shop (opens in a new tab)">Tate</a>. Browse the list of our featured
                <strong><a href="">independent UK jewellery designers</a></strong> to find out more about them and
                the work they have created.
            </p>
        </div>
    </div>
</section>


{% endblock %}