/* ------------------------index.html css------------------------ */

/* Page Heading */
.home-hero {
    padding: 0;
    position: relative;
}

.home-hero-img {
    width: 100%;
}

.home-heading {
    background: url('/media/paint-on-canvas.jpg') no-repeat center center;
    background-size: cover;
    padding: 50% 0 0 0;
    position: relative;
}

.home-heading-box {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.home-heading-txt {
    background-color: rgba(220, 228, 232, 0.7);
    padding: 5px;
    margin-bottom: 10px;
}

/* Home page information sections */
.home-info {
    font-size: 16px;
}

.image-divider {
    height: 300px;
    background: url('/media/jewellery-making.jpg') center center / cover no-repeat fixed;
}

.newsletter-signup {
    background: url('/media/selection-of-jewellery-art-jewellery.jpg') left top / cover no-repeat;
    min-height: 350px;
}

/* Mailchimp form */
#mc_embed_signup {
    background-color: rgba(36, 45, 51, 0.4);
    padding: 5px;
    margin: 5px;
}

#mc_embed_signup form {
    padding: 0;
}

#mc_embed_signup .mc-field-group {
    width: 100%;
}

#mc_embed_signup input {
    border-radius: 0;
}

#mc_embed_signup .foot {
    width: 100%;
}

#mc_embed_signup .button {
    background-color: #242d33;
    color: #dce4e8;
    border-radius: 0;
}

#mc_embed_signup div#mce-responses {
    width: 100%;
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 0 10px 0;
}

/* ------------------------Media Queries------------------------ */

/* For screens 320px and up */
@media screen and (min-width: 320px) {
    .home-link {
        display: none;
    }

    .home-heading-box {
        left: 15px;
    }
}

/* For screens 576px and up */
@media screen and (min-width: 576px) {
    .home-heading-box {
        position: absolute;
        left: 8px;
    }

    .home-heading-txt {
        background-color: rgba(109, 122, 130, 0.4);
    }

    .home-info {
        font-size: 18px;
    }
}

/* For screens 768px and up */
@media screen and (min-width: 768px) {
    .home-h1 {
        font-size: 28px;
    }

    .home-h2 {
        font-size: 24px;
    }

    .home-heading-box {
        left: 15px;
    }
}

/* For screens 992px and up */
@media screen and (min-width: 992px) {
    .home-h1 {
        font-size: 34px;
    }

    .home-h2 {
        font-size: 28px;
    }
}

/* For screens 1200px and up */
@media screen and (min-width: 1200px) {
    .home-heading-box {
        left: 40px;
    }
}

/* For screens 1400px and up */
@media screen and (min-width: 1400px) {
    .home-h1 {
        font-size: 38px;
    }

    .home-h2 {
        font-size: 32px;
    }
}
