{% extends "base.html" %}
{% load static %}

{% block extra_title %}Your Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h1 class="mb-0">My Profile</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0 mb-4">
            <h2 class="detail-h2 mb-3">Delivery Information</h2>
            <!-- Profile default delivery details form. -->
            <form class="order-fieldset" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-drk btn-sqr txt-lgt my-3" type="submit">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 txt-drk mb-5">
            <h2 class="detail-h2 mb-3">Order History</h2>
            <!-- Previous order summary -->
            <div class="table-responsive profile-history">
                <table class="profile-table table table-sm txt-drk mb-1">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                    aria-label="Go to the order confirmation page for {{ order.order_number }}"
                                    title="{{ order.order_number }}">{{ order.order_number|truncatechars:5 }}</a>
                            </td>
                            <td>
                                <p class="mb-0">{{ order.date|date:"d/m/Y" }}</p>
                            </td>
                            <td>
                                {% for item in order.lineitems.all %}
                                <p class="mb-0 profile-items">{{ item.product.name}} x{{ item.quantity }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <p class="mb-0">£{{ order.grand_total }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="detail-h2 mb-4">Product Reviews</h2>
            <div class="mb-4">
                <select class="txt-drk mr-2 mb-3" id="review-sel">
                    <option value="">Select Product</option>
                    {% for product in purchased_products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
                <form action="#" method="POST" id="add-review-form">
                    {% csrf_token %}
                    <fieldset class="order-fieldset">
                        <legend class="review-legend">Select Product to Leave a Review</legend>
                        {{ review_form.name | as_crispy_field }}
                        {{ review_form.body | as_crispy_field }}
                    </fieldset>
                    <button id="add-review-button" class="btn btn-sm btn-drk btn-sqr txt-lgt" type="submit">Add review</button>
                </form>
            </div>
            {% for review in reviews %}
            <div>
                <p class="d-inline-block mb-0 mr-2"><strong>Date:</strong> {{ review.created_on|date:"j F Y" }}</p>
                <p class="d-inline-block mb-0 mb-2"><strong>Product:</strong> {{ review.product.name }}</p>
                <form class="edit-review-form" action="{% url 'edit_review' review.id %}" method="POST"
                    id="review-form">
                    {% csrf_token %}
                    <fieldset class="order-fieldset">
                        <legend class="review-legend">Update Review</legend>
                        <div id="div_id_name" class="form-group">
                            <div>
                                <input type="text" name="name" maxlength="50" value="{{ review.name }}"
                                    class="textinput textInput form-control" required id="id_name">
                            </div>
                        </div>
                        <div id="div_id_body" class="form-group">
                            <div>
                                <textarea name="body" cols="40" rows="10" placeholder="Write your review here."
                                    class="textarea form-control" required id="id_body">{{ review.body }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <button
                        class="btn btn-sm btn-drk btn-sqr txt-lgt {% if forloop.last %}mb-4{% else %}mb-2{% endif %}"
                        type="submit">Update review</button>
                    <a class="btn btn-sm btn-drk btn-sqr txt-lgt {% if forloop.last %}mb-4{% else %}mb-2{% endif %}"
                        href="{% url 'profile' %}">Cancel</a>
                </form>
                <p class="mb-1">{{ review.body }}</p>
                <a class="review-edit txt-blue {% if forloop.last %}mb-4{% else %}mb-2{% endif %}" href="#"
                    aria-label="Edit review.">Edit</a>
                <button class="delete-btn ml-1 {% if forloop.last %}mb-4{% else %}mb-2{% endif %}" type="button"
                    data-delete-url="{% url 'delete_review' review.id%}">Delete</button>
                {% if not forloop.last %}
                <hr class="review-divider">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>

<script>
    document.getElementById("review-sel").addEventListener("change", function () {
        let selectedProduct = this.value
        let addForm = document.getElementById("add-review-form")
        let addButton = document.getElementById("add-review-button")
        if (selectedProduct) {
            addButton.style.display = "initial"
            let url = "{% url 'add_review' 123 %}";
            addForm.action = url.replace('123', selectedProduct)
        } else {
            addButton.style.display = "none"
            addForm.action = '#'
        }
    })
</script>

<script>
    let edits = document.getElementsByClassName("review-edit");

    for (let edit of edits) {
        edit.addEventListener("click", function () {
            this.style.display = "none"
            let form = this.parentNode.getElementsByTagName('form')[0];
            let deleteBtn = this.nextElementSibling
            let review = this.previousElementSibling
            form.style.display = "initial";
            deleteBtn.style.display = "none"
            review.style.display = "none"
        })
    }
</script>
{% endblock %}