{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h1 class="mb-0">My Profile</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0 mb-4">
            <h2 class="detail-h2 mb-3">Delivery Information</h2>
            <!-- Profile default delivery details form. -->
            <form class="order-fieldset" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-drk btn-sqr txt-lgt my-3" type="submit">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 txt-drk mb-5">
            <h2 class="detail-h2 mb-3">Order History</h2>
            <!-- Previous order summary -->
            <div class="table-responsive profile-history">
                <table class="profile-table table table-sm txt-drk mb-1">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:5 }}</a>
                            </td>
                            <td>
                                <p class="mb-0">{{ order.date|date:"d/m/Y" }}</p>
                            </td>
                            <td>
                                {% for item in order.lineitems.all %}
                                <p class="mb-0 profile-items">{{ item.product.name}} x{{ item.quantity }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <p class="mb-0">£{{ order.grand_total }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="detail-h2 mb-4">Product Reviews</h2>
            {% for review in reviews %}
            <p class="d-inline-block mb-0 mr-2"><strong>Date:</strong> {{ review.created_on|date:"j F Y" }}</p>
            <p class="d-inline-block mb-0 mb-2"><strong>Product:</strong> {{ review.product.name }}</p>
            <p class="mb-4">{{ review.body }}</p>
            {% if not forloop.last %}
            <hr class="review-divider">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
