{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container txt-drk">
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Set different page title and introductory text if viewing from the profile page -->
            {% if from_profile %}
                <h1 class="mb-0">Order Details</h1>
            {% else %}
                <h1 class="mb-0">Order Confirmed</h1>
            {% endif %}
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-md-10 offset-md-1 mb-3">
            {% if from_profile %}
                <p>A confirmation email was sent to <strong>{{ order.email }}</strong></p>
                <p class="mb-0">Please find your order details below:</p>
            {% else %}
                <p>Thank you for your order. We have sent a confirmation email to <strong>{{ order.email }}</strong></p>
                <p class="mb-0">Please find your order details below:</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-10 offset-md-1">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>Order Details</h2>
                </div>
                <div class="col-12 col-sm-4 col-lg-3">
                    <p class="mb-0"><strong>Order Number:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-lg-5 mb-2 order-number">
                    <p class="mb-0">{{ order.order_number }}</p>
                </div>
                <div class="col-12 col-sm-4 col-lg-2">
                    <p class="mb-0"><strong>Order Date:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-lg-2 mb-2">
                    <p class="mb-0">{{ order.date|date:"d/m/Y" }}</p>
                </div>
                <div class="col-12 col-sm-4 col-lg-3">
                    <p class="mb-0"><strong>Order items:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-lg-5 mb-4">
                    {% for item in order.lineitems.all %}
                        <p class="mb-0">{{ item.product.name }} - {{ item.quantity }} at £{{ item.product.price }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>Delivery Details</h2>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-12">
                            <p class="mb-0"><strong>Name:</strong></p>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-12 mb-2">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-12">
                            <p class="mb-0"><strong>Phone Number:</strong></p>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-12 mb-2">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-lg-12">
                            <p class="mb-0"><strong>Delivery Address:</strong></p>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-12 mb-4">
                            <p class="mb-0">{{ order.address1 }}</p>
                            {% if order.address2 %}
                                <p class="mb-0">{{ order.address2 }}</p>
                            {% endif %}
                                <p class="mb-0">{{ order.town_or_city }}</p>
                            {% if order.county %}
                                <p class="mb-0">{{ order.county }}</p>
                            {% endif %}
                            {% if order.postcode %}
                                <p class="mb-0">{{ order.postcode }}</p>
                            {% endif %}
                            <p class="mb-0">{{ order.country.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>Billing Details</h2>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <p class="mb-0"><strong>Order Total:</strong></p>
                </div>
                <div class="col-6 col-sm-8 col-lg-9 mb-2">
                    <p class="mb-0">£{{ order.order_total }}</p>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <p class="mb-0"><strong>Delivery:</strong></p>
                </div>
                <div class="col-6 col-sm-8 col-lg-9 mb-2">
                    <p class="mb-0">£{{ order.delivery_cost }}</p>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <p class="mb-0"><strong>Grand Total:</strong></p>
                </div>
                <div class="col-6 col-sm-8 col-lg-9 mb-5">
                    <p class="mb-0">£{{ order.grand_total }}</p>
                </div>
                <!-- Back to profile button displayed if viewing from profile -->
                {% if from_profile %}
                    <div class="col-12 mb-4">
                        <a class="btn btn-sm btn-drk btn-sqr txt-lgt" aria-label="Go to profile page" href="{% url 'profile' %}">
                            Back to Proile
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
