{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h2 class="mb-0">Checkout</h2>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0 mb-4">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="order-fieldset">
                    <legend>Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="order-fieldset">
                    <legend>Delivery Details</legend>
                    {{ order_form.address1 | as_crispy_field }}
                    {{ order_form.address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend>Payment Details</legend>
                    <div id="card-element"></div>
                    <div class="text-danger my-1" id="card-errors" role="alert"></div>
                </fieldset>
                <button id="submit-button" class="btn btn-drk btn-sqr txt-lgt my-3"><i class="fas fa-lock mr-1"></i> Make Payment</button>
                <p>Your card will be charged <strong>£{{ grand_total|floatformat:2}}.</strong></p>
            </form>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 txt-drk mb-5">
            <p>Order Summary</p>
            {% for item in basket_items %}
            <div class="row">
                <div class="col-2">
                    {% if item.product.image %}
                    <img class="checkout-img img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="checkout-img img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-5">
                    <p class="mb-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="mb-0">Price: £{{ item.product.price }}</p>
                    <p class="mb-0">Qty: £{{ item.quantity }}</p>
                </div>
                <div class="col-5 mt-auto text-right">
                    <p class="mb-0">Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-6 txt-drk">
                    <p class="mb-0">Basket Total:<span class="basket-total">£{{ total|floatformat:2 }}</span></p>
                    <p class="mb-2">Delivery:<span class="basket-delivery">£{{ delivery|floatformat:2 }}</span></p>
                    <p class="mb-0"><strong>Grand Total:<span class="basket-grand-total">£{{ grand_total|floatformat:2 }}</span></strong>
                    </p>
                </div>
                <div class="col-6 mt-auto text-right">
                    <a class="btn btn-sm btn-drk btn-sqr txt-lgt" href="{% url 'view_basket' %}">Edit Basket</a>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
