{% extends "base.html" %}
{% load basket_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h2 class="mb-0">Checkout</h2>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-lg-5 txt-drk">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="order-fieldset">
                    <legend>Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="order-fieldset">
                    <legend>Delivery Details</legend>
                    {{ order_form.address1 | as_crispy_field }}
                    {{ order_form.address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend>Payment Details</legend>
                    <div id="card-element"></div>
                    <div id="card-errors" role="alert"></div>
                </fieldset>
            </form>
        </div>
        <div class="col-12 col-lg-6 offset-lg-1 txt-drk">
            <p>Order Summary</p>
            {% for item in basket_items %}
            <div class="row">
                <div class="col-3">
                    {% if item.product.image %}
                    <img class="basket-img img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="basket-img img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-5">
                    <p class="mb-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="mb-0">Price: £{{ item.product.price }}</p>
                    <p class="mb-0">Qty: £{{ item.quantity }}</p>
                </div>
                <div class="col-4 mt-auto">
                    <p class="mb-0">Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 txt-drk">
                    <p class="mb-0">Basket Total:<span class="basket-total">£{{ total|floatformat:2 }}</span></p>
                    <p class="mb-2">Delivery:<span class="basket-delivery">£{{ delivery|floatformat:2 }}</span></p>
                    <p><strong>Grand Total:<span class="basket-grand-total">£{{ grand_total|floatformat:2 }}</span></strong>
                    </p>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}
