{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h2 class="mb-0">Checkout</h2>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Existing Customer</h3>
            <p>Login to your account to save the order to your profile.</p>
            <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="">Login</a>
        </div>
        <div class="col-4">
            <h3>New Customer</h3>
            <p>Register for an account to save order information and default delivery details.</p>
            <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="">Register</a>
        </div>
        <div class="col-4">
            <h3>Guest Checkout</h3>
            <p>Prefer not to register? Continue as a guest.</p>
            <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="{% url 'checkout' %}">Continue</a>
        </div>
    </div>
</div>

{% endblock %}
