{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h1 class="mb-0">FAQs</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-12 txt-drk">
            <p>Need some help? Browse our most frequently asked questions below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 {% if 'OR' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Orders</h2>
            <div class="accordion mb-5" id="faq-order-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'OR' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-order-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'DE' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Delivery</h2>
            <div class="accordion mb-5" id="faq-delivery-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'DE' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-delivery-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'WB' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Account</h2>
            <div class="accordion mb-5" id="faq-account-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'WB' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-account-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'PR' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Jewellery</h2>
            <div class="accordion mb-5" id="faq-jewellery-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'PR' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-jewellery-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'DS' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Designers</h2>
            <div class="accordion mb-5" id="faq-designer-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'DS' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-designer-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'OT' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="detail-h2">Other</h2>
            <div class="accordion mb-5" id="faq-other-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'OT' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-other-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}