{% extends "base.html" %}

{% block extra_title %}FAQs{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h1 class="mb-0">FAQs</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-12 txt-drk">
            <p>
                Need some help? Browse our frequently asked questions below. Still haven't found an answer? Visit our 
                <a class="content-link txt-link" href="{% url 'contact' %}" aria-label="Go to the contact us form">Contact Page</a>.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 {% if 'OR' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Orders</h2>
            <div class="accordion mb-4" id="faq-order-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'OR' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-order-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'DE' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Delivery</h2>
            <div class="accordion mb-4" id="faq-delivery-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'DE' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-delivery-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'WB' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Account</h2>
            <div class="accordion mb-4" id="faq-account-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'WB' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-account-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'PR' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Jewellery</h2>
            <div class="accordion mb-4" id="faq-jewellery-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'PR' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-jewellery-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'DS' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Designers</h2>
            <div class="accordion mb-4" id="faq-designer-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'DS' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-designer-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-12 {% if 'OT' not in categories %}d-none{% endif %} txt-drk">
            <h2 class="mb-0">Other</h2>
            <div class="accordion mb-4" id="faq-other-accordion">
            {% for faq in faqs %}
            {% if faq.category == 'OT' %}
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 faq-acc-head bg-color-lgt" id="faq-head-{{ faq.id }}">
                        <p class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#faq-{{ faq.id }}" aria-expanded="true"
                                aria-controls="faq-{{ faq.id }}">{{ faq.question }}</button>
                            {% if request.user.is_superuser %}
                            <a class="txt-blue" href="{% url 'edit_faq' faq.id %}"
                                aria-label="Edit FAQ.">Edit</a> |
                            <button class="delete-btn" type="button"
                                data-delete-url="{% url 'delete_faq' faq.id %}">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                    <div id="faq-{{ faq.id }}"
                        class="collapse"
                        aria-labelledby="faq-head-{{ faq.id }}" data-parent="#faq-other-accordion">
                        <div class="card-body faq-acc-body">
                            <p class="mb-0 text-justify">
                                {{ faq.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}