{% extends "base.html" %}
{% load basket_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h2 class="d-none d-sm-block mb-0">Shopping Basket</h2>
            <h2 class="d-sm-none mb-0">Basket</h2>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 {% if basket_items %}col-lg-10 col-xl-8 offset-lg-1 offset-xl-2{% endif %} txt-drk">
            {% if basket_items %}
            {% include "basket/mobile-basket.html" %}
            <table class="d-none d-sm-block table table-sm txt-drk mb-1">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">Basket Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <td class="basket-img-col pb-3">
                            {% if item.product.image %}
                            <img class="basket-img img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                            <img class="basket-img img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </td>
                        <td class="pb-3 pt-4">
                            <p class="mb-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="mb-0">Price: £{{ item.product.price }}</p>
                        </td>
                        <td class="pb-3">
                            <a class="txt-sm update-link">Update</a>
                            <form class="form update-form" action="{% url 'adjust_basket' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-0">
                                    <input class="form-control form-control-sm rounded-0 qty-input" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                </div>
                            </form>
                            <a class="txt-sm text-danger remove-item" id="remove_{{ item.item_id }}">Remove</a>
                        </td>
                        <td class="pb-3 pt-4">
                            <p class="mb-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-none d-sm-block basket-totals txt-drk">
                <p class="mb-0">Basket Total:<span class="basket-total">£{{ total|floatformat:2 }}</span></p>
                <p class="mb-2">Delivery:<span class="basket-delivery">£{{ delivery|floatformat:2 }}</span></p>
                <p><strong>Grand Total:<span class="basket-grand-total">£{{ grand_total|floatformat:2 }}</span></strong>
                </p>
                <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="{% url 'products' %}">Keep Shopping</a>
                {% if user.is_authenticated %}
                <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="{% url 'checkout' %}">Checkout</a>
                {% else %}
                <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" href="{% url 'login_or_guest' %}">Checkout</a>
                {% endif %}
            </div>
            {% else %}
            <p class="basket-empty">Your basket is currently empty.</p>
            <a class="btn btn-drk btn-sqr txt-lgt mt-1 mb-4" href="{% url 'products' %}">Shop Now!</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.update-link').click(function(e) {
        let form = $(this).next('.update-form');
        form.submit();
    })

    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}"
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>
{% endblock %}