{% load basket_tools %}
<div class="row d-sm-none">
    <div class="col-12 mb-3 mobile-basket-cols">
        <!-- Checkout and keep shopping buttons. -->
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-3" aria-label="Go to the all jewellery products page"
            href="{% url 'products' %}">Keep Shopping</a>
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-3" aria-label="Proceed to checkout"
            href="{% url 'checkout' %}">Checkout</a>
        {% else %}
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-3" aria-label="Proceed to checkout"
            href="{% url 'login_or_guest' %}">Checkout</a>
        {% endif %}
    </div>
</div>
{% for item in basket_items %}
<!-- Basket items. -->
<div class="row d-sm-none">
    <div class="col-12 text-left mobile-basket-cols">
        <p><strong>{{ item.product.name }}</strong></p>
    </div>
    <div class="col-6 mobile-basket-cols">
        {% if item.product.image %}
        <img class="basket-img img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        {% else %}
        <img class="basket-img img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}">
        {% endif %}
    </div>
    <div class="col-6 my-auto pl-1 mobile-basket-cols">
        <p class="mb-0">Price: £{{ item.product.price }}</p>
        <a class="txt-sm update-link ml-5 txt-blue" aria-label="Update the product quantity in your basket">Update</a>
        <form class="form update-form" action="{% url 'adjust_basket' item.item_id %}" method="POST">
            <!-- Update quantity form. -->
            {% csrf_token %}
            <div class="form-group mb-0">
                <label class="d-inline" for="id_qty_{{ item.item_id }}">Qty:</label>
                <input class="d-inline form-control form-control-sm rounded-0 qty-input" type="number" name="quantity"
                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                    id="id_qty_{{ item.item_id }}">
            </div>
        </form>
        <a class="txt-sm txt-red remove-item ml-5" aria-label="Remove the product from your basket"
            id="remove_{{ item.item_id }}">Remove</a>
    </div>
    <div class="col-6 offset-6 pl-1 mt-3 mobile-basket-cols">
        <p class="mb-0">Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
{% endfor %}
<div class="row d-sm-none">
    <div class="col-12 txt-drk mobile-basket-cols">
        <!-- Basket totals. -->
        <p class="mb-0">Basket Total:<span class="basket-total">£{{ total|floatformat:2 }}</span></p>
        <p class="mb-2">Delivery:<span class="basket-delivery">£{{ delivery|floatformat:2 }}</span></p>
        <p><strong>Grand Total:<span class="basket-grand-total">£{{ grand_total|floatformat:2 }}</span></strong>
        </p>
        <!-- Keep shopping and checkout buttons. -->
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" aria-label="Go to the all jewellery products page"
            href="{% url 'products' %}">Keep Shopping</a>
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" aria-label="Proceed to checkout"
            href="{% url 'checkout' %}">Checkout</a>
        {% else %}
        <a class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 mb-4" aria-label="Proceed to checkout"
            href="{% url 'login_or_guest' %}">Checkout</a>
        {% endif %}
    </div>
</div>