/* ------------------------General Styles------------------------ */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Text */
.txt-lgt {
    color: #dce4e8;
}

.txt-lgter {
    color: #eef2f4;
}

.txt-drk {
    color: #242d33;
}

.list-heading {
    font-weight: bold;
}

h1 {
    font-size: 24px;
}

.home-h2 {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

/* Background Colours */
.bg-color-drk {
    background-color: #242d33;
}

.bg-color-lgt {
    background-color: #dce4e8;
}

.bg-color-lgter {
    background-color: #eef2f4;
}

/* Buttons and links */
.btn-drk {
    background-color: #242d33;
}

.btn-grey {
    background-color: #515c63;
}

.txt-link {
    color: #242d33;
}

.txt-link:hover {
    color: #242d33;
    text-decoration: none;
}

.txt-link-home:hover {
    color: #515c63;
}

/* ------------------------base.html------------------------ */

/* Nav */
.nav-link {
    color: #dce4e8 !important;
}

.logo {
    background: url('/media/jewellery-art-logo.png') no-repeat center center;
    background-size: cover;
    width: 80px;
    height: 40px;
    display: block;
}

.search-dropdown {
    border: none;
}

.dropdown-title, .dropdown-item {
    color: #242d33;
}

.dropdown-title:hover {
    background-color: transparent;
}

.dropdown-item:hover {
    color: #242d33;
    background-color: #eef2f4;
}

.dropdown-item:active {
    background-color: #eef2f4;
}

/* Footer */
footer {
    padding-top: 20px;
}

.footer-link:hover {
    color: #dce4e8;
    text-decoration: none;
}

.social {
    font-size: 30px;
    margin-bottom: 10px;
}

.logo-img {
    width: 100px;
    height: 50px;
    margin-bottom: 5px;
}

/* ------------------------index.html------------------------ */

/* Page Heading */
.home-hero {
    background: url('/media/gold-acrylic-cuff.jpg');
    background-size: cover;
    padding: 100% 0 0 0;
    position: relative;
}

.home-heading {
    background: url('/media/paint-on-canvas.jpg') no-repeat center center;
    background-size: cover;
    padding: 50% 0 0 0;
    position: relative;
}

.home-heading-box {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.home-heading-txt {
    background-color: rgba(220, 228, 232, 0.7);
    padding: 5px;
    margin-bottom: 10px;
}

/* Home page information sections */
.home-info {
    font-size: 16px;
}

.home-info a {
    font-style: italic;
}

.image-divider {
    height: 300px;
    background: url('/media/jewellery-making.jpg') center center / cover no-repeat fixed;
}

/* ------------------------products.html------------------------ */

.divide-rule {
    border-color: #242d33;
    border-width: 3px;
    margin-top: 16px;
    margin-bottom: 40px;
}

/* Product Cards */
.card-img-top {
    border-radius: 0;
    outline: 3px solid #242d33;
    outline-offset: 2px;
}

.card, .card-footer {
    background-color: transparent;
    border: none;
}

.card-title {
    font-weight: bold;
}

/* ------------------------Media Queries------------------------ */

/* For screens 320px and up */
@media screen and (min-width: 320px) {
    .logo-cont {
        display: inline !important;
    }

    .home-link {
        display: none;
    }

    .home-heading-box {
        left: 15px;
    }

    .products-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* For screens 400px and up */
@media screen and (min-width: 400px) {
    .products-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* For screens 500px and up */
@media screen and (min-width: 500px) {
    .products-container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

/* For screens 576px and up */
@media screen and (min-width: 576px) {
    .home-hero {
        padding-top: 50%;
    }

    .home-heading-box {
        position: absolute;
        left: 8px;
    }

    .home-heading-txt {
        background-color: rgba(109, 122, 130, 0.4);
    }

    .home-info {
        font-size: 18px;
    }

    h3 {
        font-size: 24px;
    }

    .products-container {
        padding-left: 0;
        padding-right: 0;
    }
}

/* For screens 768px and up */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .home-h2 {
        font-size: 24px;
    }

    .home-heading-box {
        left: 15px;
    }
}

/* For screens 992px and up */
@media screen and (min-width: 992px) {
    .logo {
        width: 100px;
        height: 50px;
    }

    h1 {
        font-size: 34px;
    }

    .home-h2 {
        font-size: 28px;
    }
}

/* For screens 1200px and up */
@media screen and (min-width: 1200px) {
    .home-heading-box {
        left: 40px;
    }
}

/* For screens 1400px and up */
@media screen and (min-width: 1400px) {
    h1 {
        font-size: 38px;
    }

    .home-h2 {
        font-size: 32px;
    }
}