/* ------------------------General Styles------------------------ */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Text */
.txt-lgt {
    color: #dce4e8;
}

.txt-drk {
    color: #242d33;
}

.list-heading {
    font-weight: bold;
}

/* Background Colours */
.bg-color-drk {
    background-color: #242d33;
}

.bg-color-lgt {
    background-color: #dce4e8;
}

/* ------------------------base.html------------------------ */

/* Nav */
.nav-link {
    color: #dce4e8 !important;
}

.logo {
    background: url('/media/jewellery-art-logo.png') no-repeat center center;
    background-size: cover;
    width: 80px;
    height: 40px;
    display: block;
}

.search-dropdown {
    border: none;
}

.dropdown-title, .dropdown-item {
    color: #242d33;
}

.dropdown-title:hover {
    background-color: transparent;
}

/* Footer */
footer {
    padding-top: 20px;
}

.footer-link:hover {
    color: #dce4e8;
    text-decoration: none;
}

.social {
    font-size: 30px;
    margin-bottom: 10px;
}

.logo-img {
    width: 100px;
    height: 50px;
    margin-bottom: 5px;
}

/* ------------------------index.html------------------------ */

/* Page Heading */
.home-hero {
    background: url('/media/gold-acrylic-cuff.jpg');
    background-size: cover;
    padding: 50% 0 0 0;
}

.home-heading {
    background: url('/media/background-grey.jpg') no-repeat center center;
    background-size: cover;
    padding: 50% 0 0 0;
    position: relative;
}


/* ------------------------Media Queries------------------------ */

/* For screens 992px and up */
@media screen and (min-width: 992px) {
    .logo {
        width: 100px;
        height: 50px;
    }
}

/* For screens 320px and up */
@media screen and (min-width: 320px) {
    .logo-cont {
        display: inline !important;
    }

    .home-link {
        display: none;
    }
}