{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="row">
                <div class="col-12 mt-4 my-2 text-center text-sm-left txt-drk">
                    <h2 class="d-inline-block mb-0">Meet Our Designers</h2>
                </div>
                <div class="col-12">
                    <hr class="divide-rule">
                </div>
            </div>
            <div class="row">
            {% for designer in designers %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="designer-img-cont">
                        {% if designer.image %}
                        <img class="designer-img" src="{{ designer.image.url }}" alt="{{ designer.name }}">
                        {% else %}
                        <img class="designer-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ designer.name }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="to-top-btn">
        <a id="to-top-link">
            <i class="fas fa-arrow-up fa-2x txt-lgt bg-color-drk"></i>
        </a>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    let toTopButton = document.getElementById("to-top-link");
    toTopButton.addEventListener("click", function() {
        window.scrollTo(0,0)
    });
</script>

<script>
    let designerImages = document.getElementsByClassName("designer-img");

    for (let image of designerImages) {
        let newImg = new Image();
        
        newImg.onload = function() {
            let height = newImg.height;
            let width = newImg.width;

            if (height > width) {
                image.classList.add("portrait")
            }

        }
        newImg.src = image.src
    }

</script>

{% endblock %}