{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'designers/css/designers.css' %}">
{% endblock %}

{% block extra_title %}Jewellery Designer {{ designer.name }}{% endblock %}

{% block content %}
<!-- Designer information section -->
<section class="container-fluid">
    <div class="row my-5">
        <!-- Designer Image -->
        <div
            class="col-10 offset-1 col-sm-5 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2 text-center des-img-col">
            <div class="designer-img-cont mb-4">
                {% if designer.image %}
                    <img class="designer-img" src="{{ designer.image.url }}" alt="{{ designer.name }}">
                {% else %}
                    <img class="designer-img" src="{{ MEDIA_URL }}no-image.png" alt="{{ designer.name }}">
                {% endif %}
            </div>
            <!-- Designer social media links displayed below the image on medium screens only -->
            <ul class="list-inline d-none d-md-block d-lg-none mb-0">
                {% include 'designers/includes/designer_social_links.html' %}
            </ul>
        </div>
        <div class="col-12 col-sm-5 col-md-6 col-lg-5 col-xl-4 my-sm-auto txt-drk text-center text-md-left des-txt-col">
            <!-- Designer name displayed next to photo for small screens up -->
            <h1 class="h1-sm d-lg-inline-block mr-lg-2">{{ designer.name }}</h1>
            <!-- Designer social media links displayed with the name on all but medium screens -->
            <ul class="list-inline d-md-none d-lg-inline">
                {% include 'designers/includes/designer_social_links.html' %}
            </ul>
            <!-- Designer information and buttons displayed under name and next to photo from medium screens up. -->
            <div class="d-none d-md-block">
                <p class="mb-3 text-justify">{{ designer.introduction }}</p>
                {% include 'designers/includes/designer_page_buttons.html' %}
            </div>
        </div>
        <!-- Designer information and buttons displayed below name and photo for smallest screens -->
        <div class="col-12 d-md-none">
            <p class="mb-3 text-justify">{{ designer.introduction }}</p>
            {% include 'designers/includes/designer_page_buttons.html' %}
        </div>
    </div>
</section>
<!-- Designer products section -->
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <hr class="divide-rule-dets">
        </div>
        <div class="col-12 mb-3">
            <h2>Pieces by {{ designer.name }}</h2>
        </div>
    </div>
    <div class="row mx-sm-2">
        <!-- Product cards displayed grouped into collections. -->
        {% for collection in collections %}
            {% for product in collection.products.all %}
                {% include 'designers/includes/designer_product_cards.html' %}
            {% endfor %}
        {% endfor %}
        <!-- Product cards for products not in any collection. -->
        {% for product in products %}
            {% include 'designers/includes/designer_product_cards.html' %}
        {% endfor %}
    </div>
    <!-- Back to top button. -->
    <div class="to-top-btn">
        <a id="to-top-link" aria-label="Go to the top of the page">
            <i class="fas fa-arrow-up fa-2x txt-lgt bg-color-drk"></i>
        </a>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Scroll to top of page on back to top button click event.
    let toTopButton = document.getElementById("to-top-link");
    toTopButton.addEventListener("click", function () {
        window.scrollTo(0, 0)
    });
</script>

<script>
    // Check whether designer images are portrait and if so
    // add portrait class to ensure they display correctly.
    let designerImages = document.getElementsByClassName("designer-img");

    for (let image of designerImages) {
        let newImg = new Image();

        newImg.onload = function () {
            let height = newImg.height;
            let width = newImg.width;

            if (height > width) {
                image.classList.add("portrait")
            }

        }
        newImg.src = image.src
    }
</script>

{% endblock %}