{% extends "base.html" %}

{% block extra_title %}Edit a Designer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 txt-drk">
            <h1 class="mb-0">Designer Management</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="col-12 col-md-8 col-lg-6 mx-auto mb-4 txt-drk">
            <h2 class="mb-4">Edit a Designer</h2>
            <form class="order-fieldset" method="POST" action="{% url 'edit_designer' designer.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button class="btn btn-sm btn-drk btn-sqr txt-lgt mr-2" type="submit">Update Designer</button>
                <a class="btn btn-sm btn-grey btn-sqr txt-lgter" aria-label="Go to the jewellery designers page." href="{% url 'designers' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function() {
        let file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    })
</script>
{% endblock %}
