<div class="modal fade" id="designer-delete-modal" tabindex="-1" aria-labelledby="designer-delete-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content txt-drk">
            <div class="modal-header">
                <h5 class="modal-title" id="designer-delete-title">Delete Designer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this designer? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-grey txt-lgter rounded-0" data-dismiss="modal">Cancel</button>
                <a href="#" id="designer-delete" aria-label="Delete designer." class="btn rounded-0 bg-color-red txt-lgter">Delete</a>
            </div>
        </div>
    </div>
</div>