{% load static %}
{% load category_tags %}
{% load designer_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2891f43577.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">

    <title>Jewellery Art | Unique Contemporary Handmade Jewellery</title>
</head>

<body>
    <header class="container-fluid">
        <!-- Navigation -->
        <div class="row">
            <nav class="navbar bg-color-drk navbar-dark navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="list-inline-item order-lg-2">
                    <a class="nav-link px-2" href="#" id="search" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center">
                            <i class="fas fa-search fa-lg"></i>
                            <p class="m-0 d-none d-lg-block">Search</p>
                        </div>
                    </a>
                    <div class="dropdown-menu mt-0 bg-color-grey search-dropdown w-100 px-4" aria-labelledby="search">
                        <form class="form" method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control search-box" type="text" name="q" placeholder="Search our Jewellery">
                                <div class="input-group-append">
                                    <button class="search-btn form-control form-control btn bg-color-drk" type="submit">
                                        <span>
                                            <i class="fas fa-search txt-lgt"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <li class="list-inline-item order-lg-1 logo-cont d-none">
                        <a class="logo my-2" href="{% url 'home' %}"></a>
                    </li>
                </li>
                <li class="list-inline-item order-lg-4 dropdown">
                    <a class="nav-link px-2" href="#" id="account-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center">
                            <i class="fas fa-user-circle fa-lg"></i>
                            <p class="m-0 d-none d-lg-block">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-color-lgt" aria-labelledby="account-options">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="#" aria-label="Logout of your account">Logout</a>
                        <a class="dropdown-item" href="#" aria-label="View your profile">My Profile</a>
                        {% else %}
                        <a class="dropdown-item" href="#" aria-label="Register for an account">Register</a>
                        <a class="dropdown-item" href="#" aria-label="Login to your account">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item order-lg-5">
                    <a class="nav-link px-2" href="{% url 'view_basket' %}">
                        <div class="text-center">
                            <i class="fas fa-shopping-basket fa-lg"></i>
                            <p class="m-0 d-none d-lg-block">0</p>
                        </div>
                    </a>
                </li>
                <div class="collapse navbar-collapse order-lg-3" id="navbar-main">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="nav-item">
                            <a class="nav-link mr-4 home-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                Jewellery
                            </a>
                            <div class="dropdown-menu rounded-0 bg-color-lgt mt-0 w-100" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-sm-3 mb-2">
                                        {% all_categories as all_categories %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">Category</p>
                                        <a class="dropdown-item" href="{% url 'products' %}">All Jewellery</a>
                                        {% for category in all_categories %}
                                        <a class="dropdown-item" href="{% url 'products' %}?category={{ category.programmatic_name }}">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 mb-2">
                                        {% all_collections as all_collections %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">Collection</p>
                                        {% for collection in all_collections %}
                                        <a class="dropdown-item" href="{% url 'products' %}?collection={{ collection.programmatic_name }}">{{ collection.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-3 mb-2">
                                        {% all_designers as all_designers %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">By Designer</p>
                                        {% for designer in all_designers %}
                                        <a class="dropdown-item" href="{% url 'products' %}?designer={{ designer.programmatic_name }}">{{ designer.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-4" href="{% url 'designers' %}">Designers</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="bg-color-lgt">
    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid txt-lgt bg-color-drk">
        <div class="row justify-content-center">
            <div class="col-md-auto px-lg-5 text-center text-md-left">
                    <img class="logo-img" src="{{ MEDIA_URL }}jewellery-art-logo.png" alt="">
                    <p>Handmade Art Jewellery</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener" href="https://facebook.com"
                            aria-label="Visit the Jewellery Art Facebook Page (opens in a new tab)">
                            <i class="fab fa-facebook-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener" href="https://twitter.com"
                            aria-label="Visit the Jewellery Art Twitter Page (opens in a new tab)">
                            <i class="fab fa-twitter-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener" href="https://instagram.com"
                            aria-label="Visit the Jewellery Art Instagram Page (opens in a new tab)">
                            <i class="fab fa-instagram-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <p class="list-heading mb-1">Explore</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="{% url 'products' %}">Jewellery</a></li>
                    <li><a class="footer-link txt-lgt" href="{% url 'designers' %}">Designers</a></li>
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <p class="list-heading mb-1">Shop</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="{% url 'view_basket' %}">Basket</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="footer-link txt-lgt" href="#" aria-label="Logout of your account">Logout</a></li>
                    <li><a class="footer-link txt-lgt" href="#" aria-label="View your profile">My Profile</a></li>
                    {% else %}
                    <li><a class="footer-link txt-lgt" href="#" aria-label="Register for an account">Register</a></li>
                    <li><a class="footer-link txt-lgt" href="#" aria-label="Login to your account">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <p class="list-heading mb-1">Customer Info</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="">Contact Us</a></li>
                    <li><a class="footer-link txt-lgt" href="">FAQs</a></li>
                    <li><a class="footer-link txt-lgt" href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>