{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2891f43577.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Jewellery Art | Unique Contemporary Handmade Jewellery</title>
</head>

<body>
    <header class="container-fluid">
        <!-- <div class="row">
            <div class="col-6">
                <a class="logo my-2" href="{% url 'home' %}"></a>
                <li class="list-inline-item">
                    <a href="">
                        <div class="text-center">
                            <div><i class="fas fa-search fa-lg"></i></div>
                            <p class="m-0">Search</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="col-6 text-right">
            
            </div>
        </div> -->
        <div class="row">
            <nav class="navbar bg-color-drk navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="list-inline-item">
                    <a class="logo my-2" href="{% url 'home' %}"></a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link"  href="#" id="search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <i class="fas fa-search fa-lg"></i>
                            <p class="m-0">Search</p>
                        </div>
                    </a>
                    <div class="dropdown-menu bg-color-lgt search-dropdown w-100 px-4" aria-labelledby="search">
                        <form class="form" method="GET" action="#">
                            <div class="input-group w-100">
                                <input class="form-control" type="text" name="q" placeholder="Search our store">
                                <div class="input-group-append">
                                    <button class="form-control form-control btn bg-color-drk" type="submit">
                                        <span>
                                            <i class="fas fa-search txt-lgt"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Jewellery
                            </a>
                            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-3 offset-2">
                                        <p class="dropdown-item dropdown-title m-0"><strong>Category</strong></p>
                                        <a class="dropdown-item" href="#">Necklaces</a>
                                        <a class="dropdown-item" href="#">Earrings</a>
                                        <a class="dropdown-item" href="#">Bracelets</a>
                                        <a class="dropdown-item" href="#">Rings</a>
                                        <a class="dropdown-item" href="#">Brooches</a>
                                    </div>
                                    <div class="col-4">
                                        <p class="dropdown-item dropdown-title m-0"><strong>Collection</strong></p>
                                        <a class="dropdown-item" href="#">The Black Collection</a>
                                        <a class="dropdown-item" href="#">The White Collection</a>
                                        <a class="dropdown-item" href="#">The Gold Collection</a>
                                    </div>
                                    <div class="col-3">
                                        <p class="dropdown-item dropdown-title m-0"><strong>By Designer</strong></p>
                                        <a class="dropdown-item" href="#">Rachel Clark</a>
                                        <a class="dropdown-item" href="#">Rachel Clark</a>
                                        <a class="dropdown-item" href="#">Rachel Clark</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-4" href="#">Designers</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>