{% load static %}
<!-- Give access to category, designer and collection template tags for use in nav links -->
{% load category_tags %}
{% load designer_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jewellery Art, online retailer of unique, contemporary handmade jewellery.">
    <meta name="keywords"
        content="Jewelley Art, earrings, bracelets, necklaces, rings, brooches, handmade jewellery, contemporary jewellery,
        unusual jewellery, acrylic jewelley, silver jewellery, jewellery for artists, artistic jewellery, unique jewellery,
        independent jewellery designers, UK jewellery designers, jewellery gifts for artists">
    {% endblock %}

    {% block corecss %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Mailchimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">        

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <!-- Used for extra CSS for individual apps -->
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2891f43577.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">

    <!-- Extra title content added for each individual page -->
    <title>Jewellery Art | {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid">
        <!-- Navigation -->
        <div class="row">
            <nav class="navbar bg-color-drk navbar-dark navbar-expand-lg w-100">
                <!-- Navbar toggler for smaller screens. Search account and basket not included in toggled list. -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Dropdown search box -->
                <li class="list-inline-item order-lg-2">
                    <a class="nav-link px-2" href="#" id="search" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center">
                            <i class="fas fa-search fa-lg"></i>
                            <p class="m-0 d-none d-lg-block">Search</p>
                        </div>
                    </a>
                    <div class="dropdown-menu mt-0 bg-color-grey search-dropdown w-100 px-4" aria-labelledby="search">
                        <form class="form" method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control search-box" type="text" name="q"
                                    placeholder="Search our Jewellery">
                                <div class="input-group-append">
                                    <button class="search-btn form-control form-control btn bg-color-drk" type="submit">
                                        <span>
                                            <i class="fas fa-search txt-lgt"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                <!-- Logo home link displayed from 320px up in the centre on smaller screens and to the left on larger. -->
                <li class="list-inline-item order-lg-1 logo-cont d-none">
                    <a class="logo my-2" aria-label="Go to the Jewellery Art homepage" href="{% url 'home' %}"></a>
                </li>
                </li>
                <!-- Account link dropdown. -->
                <li class="list-inline-item order-lg-4 dropdown account-dropdown">
                    <a class="nav-link px-2" href="#" id="account-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center">
                            <i class="fas fa-user-circle fa-lg"></i>
                            <p class="m-0 d-none d-lg-block">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu account-dropdown-menu bg-color-lgt" aria-labelledby="account-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'add_product' %}" aria-label="Go to the product management page">Product Management</a>
                                <a class="dropdown-item" href="{% url 'add_designer' %}" aria-label="Go to the designer management page">Designer Management</a>
                                <a class="dropdown-item" href="{% url 'manage_contacts' %}" aria-label="Go to the designer management page">Customer Message Management</a>
                                <a class="dropdown-item" href="{% url 'add_faq' %}" aria-label="Go to the FAQ management page">FAQ Management</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="Logout of your account">Logout</a>
                            <a class="dropdown-item" href="{% url 'profile' %}" aria-label="View your profile">My Profile</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="Register for an account">Register</a>
                            <a class="dropdown-item" href="{% url 'account_login' %}" aria-label="Login to your account">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!-- Shopping basket link. -->
                <li class="list-inline-item order-lg-5">
                    <a class="nav-link px-2" aria-label="Go to your shopping basket" href="{% url 'view_basket' %}">
                        <div class="text-center base-basket-parent">
                            <i class="fas fa-shopping-basket fa-lg"></i>
                            <p class="m-0 base-basket-items">
                                {% if basket_items %}
                                    {{ product_count }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
                <!-- Main navigation, collapses to toggled menu on smaller screens. -->
                <div class="collapse navbar-collapse order-lg-3" id="navbar-main">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="nav-item">
                            <a class="nav-link mr-4 home-link" aria-label="Go to the Jewellery Art homepage"
                                href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item order-2 order-lg-1 dropdown position-static">
                            <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                Jewellery
                            </a>
                            <div class="jewellery-dropdown dropdown-menu rounded-0 bg-color-lgt mt-0"
                                aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-sm-3 mb-2">
                                        {% all_categories as all_categories %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">Category</p>
                                        <a class="dropdown-item" aria-label="Go to the all jewellery products page"
                                            href="{% url 'products' %}">All Jewellery</a>
                                        <!-- Nav link for each jewellery category -->
                                        {% for category in all_categories %}
                                            <a class="dropdown-item"
                                                aria-label="View the {{ category.name }} jewellery products"
                                                href="{% url 'products' %}?category={{ category.programmatic_name }}">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 mb-2">
                                        {% all_collections as all_collections %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">Collection</p>
                                        <!-- Nav link for each jewellery collection -->
                                        {% for collection in all_collections %}
                                            <a class="dropdown-item"
                                                aria-label="View the {{ collection.name }} jewellery products"
                                                href="{% url 'products' %}?collection={{ collection.programmatic_name }}">{{ collection.name }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-3 mb-2">
                                        {% all_designers as all_designers %}
                                        <p class="dropdown-item dropdown-title m-0 list-heading">By Designer</p>
                                        <!-- Nav link for each jewellery designer -->
                                        {% for designer in all_designers %}
                                            <a class="dropdown-item"
                                                aria-label="View the jewellery products by {{ designer.name }}"
                                                href="{% url 'products' %}?designer={{ designer.programmatic_name }}">{{ designer.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="order-1 order-lg-2 nav-item">
                            <a class="nav-link mr-4" href="{% url 'designers' %}"
                                aria-label="Go to the all jewellery designers page">Designers</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Free delivery banner -->
        <div class="row">
            <div class="col-12 delivery-banner text-center">
                <p class="mb-0 banner-txt txt-lgter">FREE UK DELIVERY!</p>
            </div>
        </div>
    </header>

    <!-- Toasts for displaying messages. -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif message.tags == 'warning' %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif message.tags == 'basket success' %}
                    {% include 'includes/toasts/toast_basket_success.html' %}
                {% elif message.tags == 'success' %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Main page content. -->
    <main class="bg-color-lgt">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid txt-lgt bg-color-drk">
        <div class="row justify-content-center">
            <div class="col-md-auto px-lg-5 text-center text-md-left">
                <!-- Logo -->
                <img class="logo-img" src="{{ MEDIA_URL }}jewellery-art-logo.png" alt="Jewellery Art logo">
                <p>Handmade Art Jewellery</p>
                <ul class="list-inline">
                    <!-- Social media links -->
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener nofollow" href="https://www.facebook.com/Jewellery-Art-104568275512777/"
                            aria-label="Visit the Jewellery Art Facebook Page (opens in a new tab)">
                            <i class="fab fa-facebook-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener nofollow" href="https://twitter.com"
                            aria-label="Visit the Jewellery Art Twitter Page (opens in a new tab)">
                            <i class="fab fa-twitter-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="footer-link txt-lgt" target="_blank" rel="noopener nofollow" href="https://instagram.com"
                            aria-label="Visit the Jewellery Art Instagram Page (opens in a new tab)">
                            <i class="fab fa-instagram-square social" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <!-- Links to different site areas -->
                <p class="list-heading mb-1">Explore</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="{% url 'products' %}"
                            aria-label="Go to the all jewellery products page">Jewellery</a></li>
                    <li><a class="footer-link txt-lgt" href="{% url 'designers' %}"
                            aria-label="Go to the all jewellery designers page">Designers</a></li>
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <p class="list-heading mb-1">Shop</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="{% url 'view_basket' %}"
                            aria-label="Go to your shopping basket">Basket</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="footer-link txt-lgt" href="{% url 'account_logout' %}" aria-label="Logout of your account">Logout</a></li>
                    <li><a class="footer-link txt-lgt" href="{% url 'profile' %}" aria-label="View your profile">My Profile</a></li>
                    {% else %}
                    <li><a class="footer-link txt-lgt" href="{% url 'account_signup' %}" aria-label="Register for an account">Register</a></li>
                    <li><a class="footer-link txt-lgt" href="{% url 'account_login' %}" aria-label="Login to your account">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-auto px-lg-5">
                <p class="list-heading mb-1">Customer Info</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link txt-lgt" href="{% url 'contact' %}" aria-label="Go to the contact us form">Contact Us</a>
                    </li>
                    <li><a class="footer-link txt-lgt" href="{% url 'faqs' %}"
                            aria-label="Go to the Frequently Asked Questions page">FAQs</a></li>
                    <li><a class="footer-link txt-lgt" href="{% url 'privacy_policy' %}" aria-label="View our privacy policy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Modals to confirm deletion of items from the site. -->
    {% include 'includes/modals/product_delete_modal.html' %}
    {% include 'includes/modals/designer_delete_modal.html' %}
    {% include 'includes/modals/review_delete_modal.html' %}
    {% include 'includes/modals/faq_delete_modal.html' %}
    

    {% block postloadjs %}
    <!-- Additional post load javascript -->
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

</body>

</html>