{% extends "base.html" %}

{% block extra_title %}Manage Contact Messages{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center text-sm-left txt-drk">
            <h1 class="mb-0">Customer Message Management</h1>
        </div>
        <div class="col-12">
            <hr class="divide-rule">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 txt-drk">
            {% if contact_messages %}
            {% for message in contact_messages %}
            {% if not message.responded %}
            <p class="mb-1"><i class="fas fa-exclamation-circle mr-2 txt-red"></i>Awaiting Response</p>
            {% endif %}
            <p class="mb-0"><span class="font-weight-bold">From:</span> {{ message.first_name }} {{ message.last_name }}
            </p>
            <p class="mb-0"><span class="font-weight-bold">Email:</span> {{ message.email }}</p>
            {% if message.phone_number %}
            <p class="mb-0"><span class="font-weight-bold">Phone Number:</span> {{ message.phone_number}}</p>
            {% endif %}
            <p class="font-weight-bold">On {{ message.date_created|date:"jS F Y"}} at
                {{ message.date_created|date:"H:i"}}</p>
            <p><span class="font-weight-bold">Message Topic:</span> {{ message.get_topic_display }}</p>
            <p class="font-weight-bold mb-0">Message Body:</p>
            <p>{{ message.message }}</p>
            {% if message.responded %}
            <a role="button" class="btn btn-sm btn-drk btn-sqr txt-lgt mb-4"
                href="{% url 'toggle_responded' message.id %}" aria-label="Set as requiring a response">Mark as Response
                Required</a>
            {% else %}
            <a role="button" class="btn btn-sm btn-drk btn-sqr txt-lgt mb-4"
                href="{% url 'toggle_responded' message.id %}" aria-label="Confirm a response has been sent">Mark as
                Responded</a>
            {% endif %}
            {% if not forloop.last %}
            <hr class="review-divider">
            {% endif %}
            {% endfor %}
            {% else %}
            <p class="txt-lrg">There are currently no customer messages to see.</p>
            <a class="btn btn-drk btn-sqr txt-lgt mt-1 mb-4" aria-label="Go to the Jewellery Art home page"
                href="{% url 'home' %}">Go to the Homepage</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}