{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="text-center col-12 col-sm-5 offset-sm-1 offset-md-0 col-md-auto">
            <div class="detail-img-cont mx-auto">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="det-product-info col-12 col-sm-6 col-md-auto mt-4 my-sm-auto">
            <h2 class="det-product-name detail-h2">{{ product.name }}</h2>
            {% if product.collection %}
            <p class="mb-0">from {{ product.collection.name }}</p>
            {% endif %}
            {% if product.designer %}
            <p class="mb-2">by {{ product.designer.name }}</p>
            {% endif %}
            <p class="mb-3"><strong>£{{ product.price }}</strong></p>
            <form action="{% url 'add_to_basket' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_qty_{{ product.id }}">Quantity</label>
                    <input class="form-control rounded-0 qty-input" type="number" name="quantity" value="1" min="1"
                        max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-drk btn-sqr txt-lgt mt-2">Add to Basket</button>
                    <a href="{% url 'products' %}" class="btn btn-sm btn-drk btn-sqr txt-lgt mt-2">Keep Shopping</a>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-10 col-lg-8 offset-md-1 offset-lg-2">
            <div class="accordion mb-5" id="prod-det-accordion">
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="description-head">
                        <h3 class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button"
                                data-toggle="collapse" data-target="#description" aria-expanded="true"
                                aria-controls="description">
                                Description <i id="description-arrow" class="fas fa-chevron-up"></i>
                            </button>
                        </h3>
                    </div>
                    <div id="description" class="collapse show" aria-labelledby="description-head"
                        data-parent="#prod-det-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ product.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card rounded-0">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="details-head">
                        <h3 class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0 collapsed" type="button"
                                data-toggle="collapse" data-target="#details" aria-expanded="false"
                                aria-controls="details">
                                Details <i id="details-arrow" class="fas fa-chevron-down"></i>
                            </button>
                        </h3>
                    </div>
                    <div id="details" class="collapse" aria-labelledby="details-head" data-parent="#prod-det-accordion">
                        <div class="card-body pb-0">
                            {% if not product.sizing and not product.material %}
                            <p class="mb-0">
                                None
                            </p>
                            {% else %}
                            {% if product.sizing %}
                            <p class="{% if product.sizing and product.material %}mb-2{% else %}mb-0{% endif %}">
                                {{ product.sizing }}
                            </p>
                            {% endif %}
                            {% if product.material %}
                            <p class="mb-0">
                                {{ product.material }}
                            </p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    {% if other_products %}
    <div class="row">
        <div class="col-12">
            <hr class="divide-rule-dets">
            <h3 class="mb-4">Also by the Designer</h3>
        </div>
        {% for product in other_products %}
        <div class="d-none d-md-flex col-md-3 col-xl-2">
            <div class="card home-card h-100 pb-4 mx-auto txt-lgt">
                <a class="content-link" href="{% url 'product_detail' product.id %}">
                    {% if product.image %}
                    <img class="card-img-top product-card-img img-fluid" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                    {% else %}
                    <img class="card-img-top product-card-img img-fluid" src="{{ MEDIA_URL }}no-image.png"
                        alt="{{ product.name }}">
                    {% endif %}
                </a>
                <div class="card-body pb-0">
                    <a class="content-link" href="{% url 'product_detail' product.id %}">
                        <p class="mb-0 card-title text-center">{{ product.name }}</p>
                    </a>
                </div>
                <div class="card-footer pt-1 text-center">
                    <a class="content-link" href="{% url 'product_detail' product.id %}">
                        <p class="mb-0">£{{ product.price }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="scrolling-wrapper d-md-none">
            {% for product in other_products %}
            <div
                class="scroll-card scroll-drk {% if forloop.first %}scroll-card-1st{% endif %} {% if forloop.last %}scroll-card-lst{% endif %} mt-2">
                <a class="content-link" href="{% url 'product_detail' product.id %}">
                    {% if product.image %}
                    <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                    {% endif %}
                </a>
                <a class="content-link" href="{% url 'product_detail' product.id %}">
                    <p class="mb-0 home-prod-title text-center">{{ product.name }}</p>
                </a>
                <a class="content-link" href="{% url 'product_detail' product.id %}">
                    <p class="mb-0 home-prod-price text-center">£{{ product.price }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $("#description").on('shown.bs.collapse', function () {
        let iElement = document.getElementById("description-arrow");
        if (iElement.classList.contains("fa-chevron-down")) {
            iElement.classList.remove("fa-chevron-down");
            iElement.classList.add("fa-chevron-up");
        }
    });

    $("#details").on('shown.bs.collapse', function () {
        let iElement = document.getElementById("details-arrow");
        if (iElement.classList.contains("fa-chevron-down")) {
            iElement.classList.remove("fa-chevron-down");
            iElement.classList.add("fa-chevron-up");
        }
    });

    $("#description").on('hidden.bs.collapse', function () {
        let iElement = document.getElementById("description-arrow");
        if (iElement.classList.contains("fa-chevron-up")) {
            iElement.classList.remove("fa-chevron-up");
            iElement.classList.add("fa-chevron-down");
        }
    });

    $("#details").on('hidden.bs.collapse', function () {
        let iElement = document.getElementById("details-arrow");
        if (iElement.classList.contains("fa-chevron-up")) {
            iElement.classList.remove("fa-chevron-up");
            iElement.classList.add("fa-chevron-down");
        }
    });
</script>
{% endblock %}