{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="text-center col-12 col-sm-5 offset-sm-1 offset-md-0 col-md-auto">
            <div class="detail-img-cont mx-auto">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center text-sm-left col-sm-5 col-md-auto mt-4 my-sm-auto">
            <h3 class="det-product-name">{{ product.name }}</h3>
            {% if product.collection %}
            <p class="mb-0">from {{ product.collection.name }}</p>
            {% endif %}
            <p class="mb-2">by {{ product.designer.name }}</p>
            <p class="mb-0"><strong>£{{ product.price }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-10 col-lg-8 offset-md-1 offset-lg-2">
            <div class="accordion mb-5" id="prod-det-accordion">
                <div class="card rounded-0 txt-drk">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="description-head">
                        <h2 class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0" type="button" data-toggle="collapse"
                                data-target="#description" aria-expanded="true" aria-controls="description">
                                Description <i id="description-arrow" class="fas fa-chevron-up"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="description" class="collapse show" aria-labelledby="description-head"
                        data-parent="#prod-det-accordion">
                        <div class="card-body">
                            <p class="mb-0 text-justify">
                                {{ product.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card rounded-0">
                    <div class="card-header mb-0 det-acc-head bg-color-lgt" id="details-head">
                        <h2 class="mb-0">
                            <button class="btn btn-block accord-btn text-left rounded-0 collapsed" type="button"
                                data-toggle="collapse" data-target="#details" aria-expanded="false"
                                aria-controls="details">
                                Details <i id="details-arrow" class="fas fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="details" class="collapse" aria-labelledby="details-head"
                        data-parent="#prod-det-accordion">
                        <div class="card-body">
                            <p class="mb-2">
                                {{ product.sizing }}
                            </p>
                            <p class="mb-0">
                                {{ product.material }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="divide-rule">
        </div>
        <div class="scrolling-wrapper">
            {% for product in other_products %}
            <div class="scroll-card {% if forloop.first %}scroll-card-1st{% endif %} {% if forloop.last %}scroll-card-lst{% endif %} mt-2">
                <a class="content-link" href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                {% endif %}
                </a>
                <a class="content-link-lgter" href="{% url 'product_detail' product.id %}">
                <h4 class="mb-0 home-prod-title text-center">{{ product.name }}</h4>
                </a>
                <a class="content-link-lgter" href="{% url 'product_detail' product.id %}">
                <p class="mb-0 home-prod-price text-center">£{{ product.price }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $("#description").on('shown.bs.collapse', function() {
        let iElement = document.getElementById("description-arrow");
        if (iElement.classList.contains("fa-chevron-down")) {
            iElement.classList.remove("fa-chevron-down");
            iElement.classList.add("fa-chevron-up");
        }
    });

    $("#details").on('shown.bs.collapse', function() {
        let iElement = document.getElementById("details-arrow");
        if (iElement.classList.contains("fa-chevron-down")) {
            iElement.classList.remove("fa-chevron-down");
            iElement.classList.add("fa-chevron-up");
        }
    });

    $("#description").on('hidden.bs.collapse', function() {
        let iElement = document.getElementById("description-arrow");
        if (iElement.classList.contains("fa-chevron-up")) {
            iElement.classList.remove("fa-chevron-up");
            iElement.classList.add("fa-chevron-down");
        }
    });

    $("#details").on('hidden.bs.collapse', function() {
        let iElement = document.getElementById("details-arrow");
        if (iElement.classList.contains("fa-chevron-up")) {
            iElement.classList.remove("fa-chevron-up");
            iElement.classList.add("fa-chevron-down");
        }
    });
</script>
{% endblock %}
