{% extends "base.html" %}

{% block extra_title %}Artistic Jewellery Products{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="row">
                <div class="col my-4 text-center text-sm-left txt-drk">
                    <!-- Heading based on current filtering. -->
                    {% if current_category %}
                    <h1 class="d-inline-block mb-0">{{ current_category.first.name }}</h1>
                    {% elif current_collection %}
                    <h1 class="d-inline-block mb-0">{{ current_collection.first.name }}</h1>
                    {% elif current_designer %}
                    <h1 class="d-inline-block mb-0">By {{ current_designer.first.name }}</h1>
                    {% elif search_term %}
                    <h1 class="d-inline-block mb-0">Search</h1>
                    {% else %}
                    <h1 class="d-inline-block mb-0">All Jewellery</h1>
                    {% endif %}
                    <p class="d-inline-block mb-0">({{ products|length }} products {% if search_term %}for
                        "{{ search_term }}"{% endif %})</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 order-sm-2 text-center text-sm-right">
                    <!-- Sorting options. -->
                    <select class="txt-drk" id="sorting-sel">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort By
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (Low
                            to High)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (High to Low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                        <option value="collection_asc" {% if current_sorting == 'collection_asc' %}selected{% endif %}>
                            Collection (A-Z)</option>
                        <option value="collection_desc"
                            {% if current_sorting == 'collection_desc' %}selected{% endif %}>Collection (Z-A)</option>
                        <option value="designer_asc" {% if current_sorting == 'designer_asc' %}selected{% endif %}>
                            Designer (A-Z)</option>
                        <option value="designer_desc" {% if current_sorting == 'designer_desc' %}selected{% endif %}>
                            Designer (Z-A)</option>
                    </select>
                </div>
                <div class="col-12 col-sm-8 order-sm-1 text-center text-sm-left">
                    {% if current_category == None and current_collection == None and current_designer == None %}
                    <p class="mb-0 pt-2">
                        <!-- Link to popular categories if all products shown. -->
                        {% for category in categories|slice:":6" %}
                        <a class="content-link txt-link" aria-label="View the {{ category.name }} jewellery products"
                            href="{% url 'products' %}?category={{ category.programmatic_name }}">
                            {{ category.name }}{% if not forloop.last %} | {% endif %}
                        </a>
                        {% endfor %}
                    </p>
                    {% else %}
                    <!-- Link to all jewellery if products filtered or sorted. -->
                    <p class="mb-0 pt-2">
                        <a class="content-link txt-link" aria-label="Go to the all jewellery products page"
                            href="{% url 'products' %}">Go to All Jewellery</a>
                    </p>
                    {% endif %}
                </div>
                <div class="col-12 order-3">
                    <hr class="divide-rule">
                </div>
            </div>
            <div class="row">
                <!-- Product Cards -->
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="card product-card h-100 pb-4 mx-auto">
                        <a class="content-link" aria-label="Go to the product information page for {{ product.name }}"
                            href="{% url 'product_detail' product.id %}">
                            <div class="product-image-cont">
                                {% if product.image %}
                                <img class="card-img-top product-card-img img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                                {% else %}
                                <img class="card-img-top product-card-img img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                    alt="{{ product.name }}">
                                {% endif %}
                                {% if product.inventory == 0 %}
                                <p class="mb-0 px-1 out-of-stock txt-lgt">Out of Stock</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-body pb-0">
                            <a class="content-link"
                                aria-label="Go to the product information page for {{ product.name }}"
                                href="{% url 'product_detail' product.id %}">
                                <p class="mb-0 card-title text-center">{{ product.name }}</p>
                            </a>
                        </div>
                        <div class="card-footer pt-1 text-center">
                            <p class="mb-0">£{{ product.price }}</p>
                            {% if request.user.is_superuser %}
                            <small>
                                <input data-url="{% url 'toggle_homepage_featured' product.id %}" class="home-featured"
                                    type="checkbox" id="home-featured{{ product.id }}"
                                    {% if product.homepage_featured%}checked{% endif %}>
                                <label data-url="{% url 'toggle_homepage_featured' product.id %}"
                                    class="home-featured-label mb-0"
                                    for="home-featured{{ product.id }}">Featured</label> |
                                <a class="txt-blue" href="{% url 'edit_product' product.id %}"
                                    aria-label="Edit product details.">Edit</a> |
                                <button class="delete-btn" type="button"
                                    data-delete-url="{% url 'delete_product' product.id%}">Delete</button>
                            </small>
                            <small class="text-centre">
                                <form class="pt-2 order-fieldset inv-form mx-auto" action="{% url 'update_inventory' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <label class="d-inline" for="id_inventory">Inventory</label>
                                    <input type="number" name="inventory" value="{{ product.inventory }}" min="0" class="d-inline number input form-control inv-input ml-1" id="id_inventory" required>
                                    <button class="btn btn-sm btn-drk btn-sqr txt-lgt mt-1 py-0" type="submit">Update Inventory</button>
                                </form>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Back to top button. -->
    <div class="to-top-btn">
        <a id="to-top-link" aria-label="Go to the top of the page">
            <i class="fas fa-arrow-up fa-2x txt-lgt bg-color-drk"></i>
        </a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Scroll to top of page on back to top button click event.
    let toTopButton = document.getElementById("to-top-link");
    toTopButton.addEventListener("click", function () {
        window.scrollTo(0, 0)
    });
</script>

<script>
    // Set the sorting url on the sort box change event.
    $('#sorting-sel').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
<script>
    let checks = document.getElementsByClassName("home-featured")
    for (let check of checks) {
        check.addEventListener("click", function () {
            let url = this.getAttribute("data-url")
            window.location.href = url
        })
    }
</script>
{% endblock %}